<div class="modal inmodal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            
            <div class="modal-body">
                <p>
                    <strong>Are you sure?</strong> .
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white btnCancel" data-dismiss="modal">Close</button>
                <button type="button" id="btnDelete" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>
